@use './variable' as *;
@use './mixin' as *;

/* Dark */
.dark {
  background: $dark-DD;
  --input-border-color: #{$light-LL};
  --white-color: #fff;
  --invert-color: #000;
  color: #fff;
  .nav {
    &.open {
      border-color: $dark;
    }
    .nav-tit {
      color: $light-D;
    }
    .btn-setting {
      filter: invert(1);
    }
  }
  .page-tab {
    .tab.current {
      background: $dark-D;
    }
  }
  .theme-tit {
    &:after {
      background: var(--dark-border-color, $light-LL);
    }
  }
  .sub-tit {
    color: $light-D;
  }
  .btn.line,
  .type-btn {
    border-color: var(--dark-btn-border-color, $light);
  }
  select,
  .select,
  .input-text input,
  .textarea-box {
    border-color: var(--dark-input-border-color, $light-D);
  }
  .input-box:not(.checked) {
    .ico {
      border-color: $light-D;
    }
  }
}

/* Standard */
.theme-wrap.standard {
  --border-radius: 0.5em;
  --btn-border-color: #{$dark-D};
  --input-border-color: #{$dark-LL};
  .btn,
  label {
    font-weight: 500;
  }
}

/* Round */
.theme-wrap.round {
  --border-radius: 1.4em;
  --btn-border-color: #{$dark};
  --input-border-color: #{$dark-LL};
  .option {
    border-radius: 1em;
  }
  .btn,
  label {
    font-weight: 500;
  }
}

/* Edge */
.theme-wrap.edge {
  --border-radius: 0;
  --input-btn-color: #000;
  --input-border-color: #{$dark-LL};
  a.link {
    position: relative;
    z-index: 0;
    &:before {
      @include position(absolute, left, top);
      @include transition;
      content: '';
      z-index: -1;
      display: block;
      background: var(--black-color, #000);
      width: 0;
      height: 100%;
    }
    &:hover {
      color: var(--invert-color, #fff);
      text-decoration: none;
      &:before {
        width: 100%;
      }
    }
  }
  .option {
    border-radius: 1em;
  }
  .btn,
  label {
    font-weight: 500;
  }
  .anchor-list {
    margin-right: -4vmax;
    padding-right: 3em;
  }
}
