//Color
$primary: #007bff;
$primary-LL: #66b2ff;
$primary-L: #3399ff;
$primary-D: #0056b3;
$primary-DD: #003366;

$secondary: #c364c1;

$light-LL: rgba(255, 255, 255, 0.2);
$light-L: rgba(255, 255, 255, 0.4);
$light: rgba(255, 255, 255, 0.5);
$light-D: rgba(255, 255, 255, 0.6);
$light-DD: rgba(255, 255, 255, 0.8);

$dark-LL: rgba(0, 0, 0, 0.2);
$dark-L: rgba(0, 0, 0, 0.4);
$dark: rgba(0, 0, 0, 0.5);
$dark-D: rgba(0, 0, 0, 0.6);
$dark-DD: rgba(0, 0, 0, 0.8);

// Input Height
$input-height-XS: 24px;
$input-height-S: 32px;
$input-height-M: 40px;
$input-height-L: 48px;
$input-height-XL: 56px;

// Spacing
$spacing-XS: 8px;
$spacing-S: 12px;
$spacing-M: 20px;
$spacing-L: 32px;
$spacing-XL: 40px;

// Font
$font-XS: 12px;
$font-S: 14px;
$font-M: 16px;
$font-L: 20px;
$font-XL: 24px;
