//Color
// :root {
//   --primary-bg: #daecff;
//   --primary-LL: #9ecfff;
//   --primary-L: #4aa4ff;
//   --primary: #007bff;
//   --primary-D: #0056b3;
//   --primary-DD: #003366;

//   --secondary-LL: #f3d0f2;
//   --secondary-L: #eb9ee9;
//   --secondary: #c364c1;
//   --secondary-D: #982c96;
//   --secondary-DD: #570855;
// }

:root {
  --primary: #007bff;
  --primary-bg: color-mix(in srgb, var(--primary) 10%, white);
  --primary-LL: color-mix(in srgb, var(--primary) 50%, white);
  --primary-L: color-mix(in srgb, var(--primary) 30%, white);
  --primary-D: color-mix(in srgb, var(--primary) 60%, black);
  --primary-DD: color-mix(in srgb, var(--primary) 30%, black);

  --secondary: #c364c1;
  --secondary-bg: color-mix(in srgb, var(--secondary) 10%, white);
  --secondary-LL: color-mix(in srgb, var(--secondary) 50%, white);
  --secondary-L: color-mix(in srgb, var(--secondary) 30%, white);
  --secondary-D: color-mix(in srgb, var(--secondary) 60%, black);
  --secondary-DD: color-mix(in srgb, var(--secondary) 30%, black);
}

$error: #ff4040;

$light-LL: rgba(255, 255, 255, 0.8);
$light-L: rgba(255, 255, 255, 0.6);
$light: rgba(255, 255, 255, 0.5);
$light-D: rgba(255, 255, 255, 0.4);
$light-DD: rgba(255, 255, 255, 0.2);

$dark-bg: rgba(180, 180, 180, 0.2);
$dark-LL: rgba(130, 130, 130, 0.5);
$dark-L: rgba(130, 130, 130, 0.7);
$dark: rgba(100, 100, 100, 0.7);
$dark-D: rgba(40, 40, 40, 0.8);
$dark-DD: rgba(0, 0, 0, 0.8);

// Input Height
$input-height-XS: 24px;
$input-height-S: 32px;
$input-height-M: 40px;
$input-height-L: 48px;
$input-height-XL: 56px;

// Spacing
$spacing-XS: 8px;
$spacing-S: 12px;
$spacing-M: 20px;
$spacing-L: 32px;
$spacing-XL: 40px;

// Font
$font-XS: 11px;
$font-S: 12px;
$font-M: 14px;
$font-L: 16px;
$font-XL: 20px;

// Height Width
$nav-width: 15vmax;
